body {
  background-color: #f7f8fa;
}
.card-custom {
  border-radius: 15px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
  background-color: #fff;
  margin-bottom: 30px;
}
.section-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: #343a40;
  text-align: center;
}
.card-body p {
  font-size: 1rem;
  color: #6c757d;
}
.btn-customHR {
  font-size: 1.1rem;
  padding: 12px 20px;
  width: 100%;
  background-color: #007bff; /* Bleu personnalisé */
  color: white; /* Texte blanc */
  border: none;
  transition: background-color 0.3s;
  border-radius: 5px; /* Coins arrondis pour les boutons */
}
.btn-customHR:hover {
  background-color: #0056b3; /* Bleu plus foncé lors du survol */
}
.row-title {
  margin-bottom: 15px;
  font-weight: bold;
}
#Popup {
  display: none; /* Commence masqué */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Plus haut que le popup de la carte */
  text-align: center;
}

#QRimage {
  padding: 30px;
  max-width: 100%;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #666;
}

.close-btn:hover {
  color: #000;
}
#overlay {
  display: none; /* Masqué par défaut */
  position: fixed; /* Positionnement fixe */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 1000; /* Juste en dessous du pop-up */
}

#loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1007;
}
